<div class="bg-white shadow-md rounded-sm overflow-x-auto p-1 h-full">
  <table class="min-w-full bg-white border border-gray-300 rounded-lg overflow-hidden">
  <thead class="bg-gray-50">
    <tr class="border-b border-gray-200">
      <th class="py-3 px-4 text-left">
        <label class="inline-flex items-center">
          <input
          placeholder="Select All"
            type="checkbox"
            class="form-checkbox h-5 w-5 border-gray-300 text-blue-500"
            [checked]="selectAll"
            (change)="toggleSelectAll()"
          />
        </label>
      </th>
      <th class="py-3 px-4 text-left font-semibold text-gray-700">Transaction ID</th>
      <th class="py-3 px-4 text-left font-semibold text-gray-700">Student</th>
      <th class="py-3 px-4 text-left font-semibold text-gray-700">School</th>
      <th class="py-3 px-4 text-left font-semibold text-gray-700">Amount Paid</th>
      <th class="py-3 px-4 text-left font-semibold text-gray-700">Status</th>
      <th class="py-3 px-4 text-left font-semibold text-gray-700">Date</th>
      <th class="py-3 px-4 text-left font-semibold text-gray-700">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let transaction of paginatedTransactions; let i = index"
      class="hover:bg-gray-100 border-b border-gray-200"
    >
      <td class="py-3 px-4">
        <label class="inline-flex items-center">
          <input
          placeholder="Select All"
            type="checkbox"
            class="form-checkbox h-5 w-5 border-gray-300 text-blue-500"
            [checked]="selectedTransactions.has(transaction.transactionId)"
            (change)="toggleSelectTransaction(transaction.transactionId)"
          />
        </label>
      </td>
      <td class="py-3 px-4">{{ transaction.transactionId }}</td>
      <td class="py-3 px-4 flex items-center space-x-3">
        <span
          class="inline-flex items-center justify-center w-8 h-8 font-bold rounded-full"
          style="background-color: #FCE8C7; color: #DB680A;"
        >
          {{ getInitials(transaction.student) }}
        </span>
        <div class="flex flex-col">
          <span class="font-semibold text-gray-800">
            {{ transaction.student }}
          </span>
          <p class="text-sm text-gray-500">
            1234553
          </p>
        </div>
      </td>
      <td class="py-3 px-4">
  <div class="flex flex-col">
    <span class="font-semibold text-gray-800">
      {{ transaction.school }}
    </span>
    <p class="text-sm text-gray-500">
      {{ "Greater Accra"  }}
    </p>
  </div>
</td>
      <td class="py-3 px-4">
        {{  2000 | currency:"GHS"}}
      </td>
      <td class="py-3 px-4">
        <span
          class="rounded-full px-2 py-1 text-white"
          [ngClass]="{
            'bg-green-500': transaction.status.toLowerCase() === 'success',
            'bg-red-500': transaction.status.toLowerCase() !== 'success'
          }"
        >
          {{ transaction.status| titlecase }}
        </span>
      </td>
      <td class="py-3 px-4">
        {{ transaction.createdAt | date : "longDate" }}
      </td>
      <td class="py-3 px-4 relative">
        <button
          title="details"
          class="text-blue-500"
          (click)="toggleDropdown(i)"
          [ngClass]="{
            'text-blue-500': showDropdownIndex !== i,
            'text-gray-500': showDropdownIndex === i
          }"
        >
          <svg
            width="16"
            height="4"
            viewBox="0 0 16 4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0ZM14 0C12.9 0 12 0.9 12 2C12 3.1 12.9 4 14 4C15.1 4 16 3.1 16 2C16 0.9 15.1 0 14 0ZM8 0C6.9 0 6 0.9 6 2C6 3.1 6.9 4 8 4C9.1 4 10 3.1 10 2C10 0.9 9.1 0 8 0Z"
              fill="#111827"
            />
          </svg>
        </button>
        <div
          *ngIf="showDropdownIndex === i"
          class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-20"
        >
          <ul>
            <li
              class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
              (click)="viewDetails(transaction.transactionId)"
            >
              View Details
            </li>
            <li
              class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
              (click)="editTransaction(transaction)"
            >
              Edit
            </li>
            <li
              class="px-4 py-2 hover:bg-red-300 bg-red-200 cursor-pointer"
              (click)="deleteTransaction(transaction)"
            >
              Delete
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

  <app-pagination
    [totalItems]="paginationConfig.totalItems"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  ></app-pagination>
  <app-drawer [transactionId]="selectedTransactionId"></app-drawer>
  <app-snackbar></app-snackbar>
</div>
